extends layout

block content
  div working
block scripts
  // script(type="text/javascript").
    // console.log(#{albums});
    // App.albums = new Albums(!{JSON.stringify(albums)});
    // App.init()
    