@import url("whitespace-reset.css");

body {
  font: normal 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  background: #3580c2;
}

nav {
  margin-right: 172px;
}

.nav {
  text-align: center;
}

.social {
  margin-right: -172px;
}

nav li {
  display: inline-block;
  padding: 30px 15px;
  vertical-align: top;
}

nav li:first-child {
  padding: 14px 15px;
}

.nav li:first-child:hover {
  background: #3580c2;
}

nav li:hover {
  background: #488cc8;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav:after {
  clear: both;
  content: "";
  display: block;
}

#fb_icon, #twitter_icon {
  float: right;
  vertical-align: middle;
}

#fb_icon {
  padding: 25px 30px;
}

#twitter_icon {
  padding: 23px 30px;
}

h1 {
  position: relative;
  padding: 110px 0 140px 0;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: top;
}

.city {
  color: #f3df49;
  vertical-align: middle;
}

.symbol {
  font-size: 60px;
  padding: 0 25px;
  font-weight: 300;
  vertical-align: middle;
}

.intro {
  font-size: 30px;
  font-weight: 300;
  width: 570px;
  margin: 90px auto 75px auto;
  text-align: center;
  line-height: 1.4em;
  color: #20201f;
}

b {
  font-weight: 600;
}

section {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
}

h2, h3 {
  color: #3580c2;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  padding: 30px 85px;
  display: inline-block;
  background: url("../images/triangle.png") 0 50% no-repeat, transparent url("../images/rotated_triangle.png") 100% 50% no-repeat;
  margin-bottom: 25px;           
}

section li {
  float: left;
  padding: 0 0 0 20px;
  min-height: 175px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 50%;
  text-align: left;
  min-width: 325px;
}

.cutCorner {
    position:relative;
    float: left;
    margin-right: 16px;
    width: 120px;
    height: 120px;
}

.cutCorner img {
    width: 120px;
    height: auto;
}

.cutCorner:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  border-bottom: 13px solid white;
  border-right: 13px solid transparent;
}

.cutCorner:after {
    clear: both;
    display: block;
    position:absolute; 
    right: 0; 
    top: 0; 
    content:'';
    border-right: 13px solid white;
    border-bottom: 13px solid transparent;
}

.twitter_handle, figcaption p, h3 {
  font-size: 22px;
  font-weight: bold;
}

.twitter_handle {
  color: gray;
  text-transform: none;
  font-weight: normal;
}

figcaption p {
  color: #db3127;
  
}

figcaption {
  text-align: left;
  vertical-align: top;
}

.speakers:after {
  clear: both;
  display: block;
  content: "";
}

.masters li {
  margin: 0 auto;
  float: none;
}

.test li {
  float: left
  padding: 20px;
}

.test_container {
  width: 300px;
  margin: 0 auto;
}


.test_container:after {
  clear: both;
  content: " ";
  display: block;
}

@media (max-width: 1000px) {
  body {
    background: blue;
  }
}

.soc:before {
  content: "";
  width: 24px;
  height: 24px;
  background: transparent url("../images/icons_social.png") 0 0 no-repeat;
  display: inline-block;
  background-size: 24px;
  /*display: block;*/
  vertical-align: middle;
}

