body {
  background: #2f2840 url("space/bg_body.gif");
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

main {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 30px;
}

article {
  max-width: 940px;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  color: #45494d;
}

h3 {
  color: #3e59b2
}

nav {
  padding: 40px 0;
  font-size: 24px;
}

nav a {
  text-decoration: none;
  color: #cacaca;
}

.current_page a {
  color: #6db9ff;
  font-weight: bold;
}

footer {
  background-color: #e6e6e6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

footer p {
  color: #b2b2b2;
  width: 460px;
  margin: 0 auto;
  padding: 85px 0 45px 0;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  color: #cacaca;
  text-transform: uppercase
}

footer ul a:before {
  display: inline-block;
  content: "";
  width: 46px;
  height: 46px;
  background: transparent url("space/icons_social-media.png") 0 0 no-repeat;
  vertical-align: middle
}

footer ul a.facebook:before {
  background-position: 0 -46px;
}

footer ul a.email:before {
  background-position: 0 -92px;
}

footer ul a.instagram:before {
  background-position: 0 100%;
}

article img {
  display: block;
  padding-bottom: 20px;
}

#projects article img {
  width: 100%;
}

article li {
  margin: 80px 25px 80px 25px;
}

article a {
  text-decoration: none;
  text-transform: none;
  color: #3e59b2;
}

@media (max-width: 940px) {
  #team li {
    width: 48%;
    padding: 0 0 30px 0;
  }
  
  article li {
    margin: 0;
  }
  
  #team article img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  
}